body {
  overflow-x: hidden;

  transition: background 1s ease;

  font-family: 'Source Sans Pro', sans-serif;
}


header {
  height: 100vh;
}
header * {
  margin: 0 auto;
}
header p {
  padding-top: 50px;
}
.h {
  position: relative;

  width: 867px;
  margin: 0 auto;
  padding-top: 250px;
}
.h h2 {
  position: absolute;
  top: 210px;
  left: 9px;

  font-weight: 200;
}
h1 {
  font-size: 147px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: 700;
}
header p {
  width: 845px;
}

article h2 {
  margin-bottom: 55px;
}
p {
  width: 500px;
  margin-bottom: 40px;

  font-size: 23px;
  line-height: 1.2;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: black;
}
a:checked {
  text-decoration: none;

  color: inherit;
}
main {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 0 auto 120px;

  align-items: center;
}
article {
  position: relative;

  display: flex;

  height: 600px;
  padding-top: 100px;
}
article:first-of-type {
  height: 0;
  margin: 0;
  padding: 0;
}
article:nth-of-type(2n) {
  align-self: flex-start;
}
article:nth-of-type(3n) {
  align-self: flex-end;
}
article:nth-of-type(2n) img {
  right: -45vw;

  width: 40vw;
  height: 30vw;
}
article:nth-of-type(3n) img {
  left: -45vw;

  width: 40vw;
  height: 30vw;
}
article a {
  transition: all 0.3s ease;

  color: #000;
  border-bottom: 1px solid #000;

  font-size: 26px;
  font-weight: 700;
}
article a:hover {
  border-bottom: 5px solid #000;

  font-weight: 700;
}
article img {
  position: absolute;
  z-index: -2;
}
.content {
  position: relative;
}
.photo {
  position: absolute;
  z-index: -1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nul {
  margin: 0;
  padding: 0;
}
.about_me .photo {
  top: 80px;
  right: -40vw;

  width: 30vw;
  height: 73vh;

  background-image: url("../materials/my_photo.jpg");
  background-size: cover;
}
.about_hse .photo {
  top: 70px;
  left: -45vw;

  width: 39vw;
  height: 69vh;

  transform: rotate(5deg);

  background-image: url("../materials/grupp.png");
  background-size: contain;
}
.idea img {
  right: -45vw;

  width: 40vw;
  height: 30vw;
}
.mfs .photo {
  top: 85px;
  right: -32vw;

  width: 30vw;
  height: 70vh;

  background-image: url("../materials/prez.jpg");
  background-position: center;
}
.mfs .second {
  top: 97px;
  left: -31vw;

  width: 28vw;
  height: 70vh;

  background-image: url("../materials/graf.jpg");
}
.diary iframe {
  width: 716px;
  height: 474px;
  margin-right: 70px;
}
.diary iframe:last-of-type {
  display: none;
}
.posters .photo {
  top: 40px;
  right: -45vw;

  width: 40vw;
  height: 75vh;

  background-image: url("../materials/poster1.png");
}
.posters .second {
  left: -45vw;

  background-image: url("../materials/poster2.png");
}
.web_poster iframe {
  width: 716px;
  height: 474px;
  margin-left: 78px;
}
.modeling .photo {
  top: 50px;
  left: -50vw;

  width: 30vw;
  height: 60vh;

  background-image: url("../materials/3d.jpg");
}
.modeling .second {
  top: 190px;
  left: -33vw;

  width: 25vw;
  height: 60vh;

  background-image: url("../materials/3d2.jpg");
}
.animate_poster iframe {
  width: 360px;
  height: 550px;
  margin-right: 100px;
}
article.animate_poster iframe:last-of-type {
  width: 320px;
  margin-left: 100px;
}


@keyframes jumpUp {
  0%   {transform: translateX(0px)translateY(0px) rotate(-30deg);}
  50%  {transform: translateX(100px)translateY(-100px) rotate(-30deg);}
  100% {transform: translateX(0px)translateY(0px) rotate(-30deg);}
}
@keyframes jumpDown {
  0%   {transform: translateX(0px)translateY(0px) rotate(-30deg);}
  50%  {transform: translateX(-100px)translateY(+100px) rotate(-30deg);}
  100% {transform: translateX(0px)translateY(0px) rotate(-30deg);}
}
x
