body {
  overflow-x: hidden;

  transition: all 1s ease;

  font-family: 'Source Sans Pro', sans-serif;
}


header {
  height: 100vh;
}
header * {
  margin: 0 auto;
}
header p {
  padding-top: 50px;
}
.h {
  position: relative;

  width: 600px;
  padding-top: 220px;
}
.h h2 {
  position: absolute;
  top: 178px;
  left: 6px;

  font-weight: 200;
}
h1 {
  font-size: 107px;
}
h2 {
  font-size: 42px;
  font-weight: 700;
}

.bot {
  display: none;
}
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100vw;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0.4px 0.4px 20px rgba(254, 144, 0, 0.5);

  font-size: 14px;
}
nav ul {
  display: flex;

  padding: 20px 100px;

  justify-content: space-around;
}
nav a:hover {
  font-weight: 700;
}

article h2 {
  margin-bottom: 55px;
}
p {
  width: 500px;
  margin-bottom: 35px;

  font-size: 26px;
  line-height: 1.2;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;

  color: black;
}
a:checked {
  text-decoration: none;

  color: inherit;
}
main {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: -460px auto 120px;

  align-items: center;
}
article {
  position: relative;

  display: flex;

  height: 70vh;
  padding-top: 100px;
}
article:nth-of-type(2n) {
  align-self: flex-start;
}
article:nth-of-type(3n) {
  align-self: flex-end;
}
article:nth-of-type(2n) img {
  right: -45vw;

  width: 40vw;
  height: 30vw;
}
article:nth-of-type(3n) img {
  left: -45vw;

  width: 40vw;
  height: 30vw;
}
article a {
  color: #000;
  border-top: 1px solid #000;

  font-size: 26px;
  font-weight: 200;
}
article a:hover {
  border-top: 3px solid #000;

  font-weight: 700;
}
article img {
  position: absolute;
  z-index: -2;
}
.content {
  position: relative;
}
.photo {
  position: absolute;
  z-index: -1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nul {
  margin: 0;
  padding: 0;
}
.about_me .photo {
  top: 80px;
  right: -40vw;

  width: 30vw;
  height: 73vh;

  background-image: url("../materials/my_photo.jpg");
}
.about_hse .photo {
  left: -45vw;

  width: 39vw;
  height: 49vh;

  transform: rotate(5deg);

  background-image: url("../materials/grupp.jpg");
}
.idea img {
  right: -45vw;

  width: 40vw;
  height: 30vw;
}
.mfs .photo {
  top: 85px;
  right: -32vw;

  width: 30vw;
  height: 70vh;

  background-image: url("../materials/prez2.jpg");
  background-position: bottom;
}
.mfs .second {
  top: 97px;
  left: -29vw;

  width: 25vw;
  height: 70vh;

  background-image: url("../materials/graf.jpg");
}
.diary iframe:last-of-type {
  display: none;
}
.posters .photo {
  top: 40px;
  right: -45vw;

  width: 40vw;
  height: 75vh;

  background-image: url("../materials/poster1.jpg");
}
.posters .second {
  left: -45vw;

  background-image: url("../materials/poster2.jpg");
}
.web_poster iframe {
  width: 716px;
  height: 474px;
  margin-left: 78px;
}
.modeling .photo {
  top: 50px;
  left: -50vw;

  width: 30vw;
  height: 60vh;

  background-image: url("../materials/3d.jpg");
}
.modeling .second {
  top: 190px;
  left: -33vw;

  width: 25vw;
  height: 60vh;

  background-image: url("../materials/3d2.jpg");
}
.animate_poster iframe {
  width: 360px;
  height: 550px;
  margin-right: 100px;
}
article.animate_poster iframe:last-of-type {
  width: 320px;
  margin-left: 100px;
}

footer {
  padding: 50px 100px;

  background-color: #FE9000;

  font-size: 22px;
}
.information p {
  margin-top: 25px;
  margin-bottom: 0;

  font-size: 17px;
  line-height: 0.1;
}
.down {
  display: flex;

  width: 100%;
  margin-top: 46px;

  justify-content: space-between;
}
.down p {
  width: auto;
  margin-bottom: 0;

  font-size: 15px;
  font-weight: 700;
}

@keyframes jumpUp {
  0%   {transform: translateX(0px)translateY(0px) rotate(-30deg);}
  50%  {transform: translateX(100px)translateY(-100px) rotate(-30deg);}
  100% {transform: translateX(0px)translateY(0px) rotate(-30deg);}
}
@keyframes jumpDown {
  0%   {transform: translateX(0px)translateY(0px) rotate(-30deg);}
  50%  {transform: translateX(-100px)translateY(+100px) rotate(-30deg);}
  100% {transform: translateX(0px)translateY(0px) rotate(-30deg);}
}
